.empty-state {
    background-color: #f3f2f2;
    border-radius: 0.25rem;
    border: 1px dashed #d8dde6;
    padding: 1rem;
}

.stock-negative {
    color: red;
    font-weight: bold;
}

.qty-negative {
    color: red;
    font-weight: bold;
}